{% extends 'Main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Profile - change password</title>
{% endblock title %}


{% block maincontent%}

<div id='prof3' class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-white bg-dark">
                        <h4 class="card-title text-center">Change your password</h4>
                    </div>
                <div class="card-body">
                    <form method= "POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Please enter your old password</label>
                                    {{password_change_form.old_password|add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Please enter new password:</label>
                                    {{password_change_form.new_password1|add_class:"form-control"}}
                                </div>
                            </div>
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Please re-enter new password:</label>
                                    {{password_change_form.new_password2|add_class:"form-control"}}
                                </div>
                            </div>

                            <div class="col-md-12 pr-1 bottom-buffer">
                                <div class="card">
                                  <h6 class="card-header">Please remember that your password:</h6>
                                  <div class="card-body">
                                      <ul class="list-group ">
                                        <li class="list-group-item ">Can`t be to similar to your other personal information</li>
                                          <li class="list-group-item ">Must contain at least 8 characters</li>
                                          <li class="list-group-item ">Can`t be entirely numeric</li>
                                          <li class="list-group-item "> Can`t be a commonly used password</li>
                                      </ul>
                                  </div>
                                </div>
                            </div>


                        </div>
                        <div><button type="submit" class="btn btn-info btn-fill pull-right ">Change password</button></div>

                        <div class="clearfix"></div>
                    </form>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock maincontent%}