{% extends 'Users/base.html' %}
{% load static %}
{% load widget_tweaks %}


{% block typeofbox %}
<div class="center-box-small">
{% endblock typeofbox %}

{% block box1%}
Enter new password
{% endblock box1%}

{% block box2 %}
<div class = "box2-split">
	<div class="box21">
		<p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	</div>

	<div class="box22">
		<form method="POST">
			{% csrf_token %}
			{% for field in form %}
				<p>{{field.label}}</p>
				{% if field.errors %}
					{{field|add_class:"input invalid"}}
					{% for error in field.errors %}
						<div class="error">
							{{ error }}
						</div>
					{% endfor %}
				{% else %}
				{{field|add_class:"input"}}
				{% endif %}
			{% endfor %}
			<input type="Submit" class="button-submit" value="Update Password">
		</form>
	</div>
</div>
{% endblock box2 %}


