{% extends 'Users/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
  <title>Password changed</title>
{% endblock title %}

{% block typeofbox %}
<div class="center-box-small">
{% endblock typeofbox %}

{% block box1%}
Password reset completed
{% endblock box1%}

{% block box2 %}
<div class = "box2-split">
    <div class="box21">
        <h4>Your password has been set. You may go ahead and log in now.</h4>
    </div>
    <div class="box22">
        <form action="{% url 'Users:login' %}">
            <button class="button-submit" type="submit">Login</button> 
        </form>
    </div>
</div>
{% endblock box2 %}


