{% extends 'Main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Projects - Create project</title>
{% endblock title %}

{% block maincontent%}

<div id='proj2' class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h4 class="card-title">Create project</h4>
                    </div>
                <div class="card-body">
                    <form method= "POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Project Name</label>
                                    {{create_project_form.name|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Description</label>
                                    {{create_project_form.description|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Company Name</label>
                                    {{create_project_form.company_name|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Main localization</label>
                                    {{create_project_form.localization|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Start Time</label>
                                    {% render_field create_project_form.start_time class="form-control" placeholder="YYYY-MM-DD" %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>End Time</label>
                                    {% render_field create_project_form.end_time class="form-control" placeholder="YYYY-MM-DD" %}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill pull-right">Create project</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                </div>
            </div>
        </div>

        <!--Messages-->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger text-center" role="alert">
                    {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock maincontent%}