{% extends 'Main/base.html' %}
{% load static %}

{% block title %}
<title>Employess Management</title>
{% endblock title %}


{% block maincontent%}
<div id="main1" class="content">
    <div class= "d-flex justify-content-center top-buffer">
        <div class="jumbotron jumbotron-fluid text-center">
            <div class="container">
            <h1 class="display-1"><strong> Access denied !</strong></h1>
            <p class="lead alert">Your account doesn`t have an access to this page.</p>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent%}


