{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% block title %}
    <title>Employees Manager</title>
    {% endblock title %}

    <!--favicon-->
    <link rel="shortcut icon" type="image/png" href="{% static '/other/favicon.ico' %}"/>
    <!--Own css -->
    <link rel="stylesheet" type="text/css" href="{% static '/styles/css/Main/sidebar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/css/Main/navbar.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/styles/css/Main/base.css' %}">
    
     <!--Third app css/fonts -->
     <script src="https://use.fontawesome.com/fe612b59a8.js"></script>
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">

      <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
     <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
     
  {% block additionalhead %}


	{% endblock additionalhead %}
  </head>



  <body>
  {% include './navbar.html'%}
  {% include './sidebar.html'%}

	<div class="main">
		{% block maincontent %}


		{% endblock maincontent %}
	</div>


  {% block additionalscript %}


  {% endblock additionalscript %}

  <!--Third app scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>
  <!--Own scripts -->
    <script type="text/javascript" src="{% static 'js/Main/sidebar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Main/navbar.js' %}"></script>
  </body>
</html>