{% extends 'Main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title id='acces1'>Profile - Make access request</title>
{% endblock title %}


{% block maincontent%}
<div id='prof4' class="content">
    <div class="container-fluid">
        {% if messages %}
        {% for message in messages %}
        {% if message.tags == 'success'%}
            <div class="row d-flex justify-content-center top-buffer">
                <div class="col-md-12">
                    <div class="alert alert-success text-center" role="alert">
                    {{message}}
                    </div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h5 class="card-title">Request: permissions</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <form method= "POST">
                                {% csrf_token %}
                                    <div class="col-md-12">
                                        <div class="form-group"> 
                                            <label>Select group:</label>
                                            {{group_form.group|add_class:"form-control"}}
                                        </div>
                                    </div>  
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Perform</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock maincontent%}