{% extends 'Main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>EM - Check employee</title>
{% endblock title %}

{% block maincontent%}
<div id="check" class="content">
    <div class="container-fluid">
        <div class="row bottom-buffer">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h4 class="card-title">Find employee:</h4>
                    </div>
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col-md-12">
                                <form method= "POST">
                                {% csrf_token %}
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Select employee:</label>
                                            {{employee_form.employee|add_class:"form-control"}}
                                        </div> 
                                    </div>  
                                    <div class="col-md-12">
                                        <button type="submit" class="btn btn-info btn-fill pull-right">Find</button>
                                        <div class="clearfix"></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% if employee is not None %}
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center">
                <div class="card card-user">
                    <div class="card-image">
                        <img class="prof-image" src="{{ employee.profile_picture.url }}" alt="...">
                    </div>
                    <div id="user-card" class="card-body">
                        <div>
                            <h3 class="title">{{ employee.first_name }} {{ employee.last_name }}</h3>
                        </div>
                        <p class="description top-buffer">
                            <strong>Username:</strong> <i class="fas fa-user"></i> {{ employee.user.username }} 
                        </p>

                        <p class="description">
                            <strong>Email:</strong> <i class="fas fa-at"></i> {{ employee.user.email }} 
                        </p>

                        <p class="description">
                            <strong>Date of birth:</strong> <i class="fas fa-calendar"></i> {{ employee.date_of_birth|default_if_none:"No statement made!" }}
                        </p>

                        <p class="description">
                            <strong>Phone number:</strong> <i class="fas fa-phone-alt"></i> {{ employee.phone_number|default_if_none:"No statement made!"  }} 
                        </p>

                        <p class="description">
                            <strong>Address:</strong> <i class="fas fa-address-card"></i> {{ employee.address|default_if_none:"No statement made!"  }}
                        </p>

                        <p class="description">
                            <strong>Zip-code:</strong> <i class="fas fa-map-marked"></i> {{ employee.zip_code|default_if_none:"No statement made!" }} 
                        </p>

                        <p class="description">
                            <strong>City:</strong> <i class="fas fa-city"></i> {{ employee.city|default_if_none:"No statement made!" }}
                        </p>

                        <p class="description">
                            <strong>Country:</strong> <i class="fas fa-globe-europe"></i>{{ employee.country |default_if_none:"No statement made!"}}
                         </p>

                        <p class="description">
                            <strong>Badge number:</strong> <i class="fas fa-id-badge"></i> {{ employee.badge }} 
                        </p>

                        <p class="description">
                            <strong>Industry:</strong> <i class="fas fa-briefcase"></i>
                            {% if employee.job_title.industry %}
                                {{ employee.job_title.industry }}
                            {% else %}
                                Not assigned !
                            {% endif %}
                        </p>

                        <p class="description">
                            <strong>Job title:</strong> <i class="fas fa-user-tie"></i>
                            {% if employee.job_title.job_title %}
                                {{ employee.job_title.job_title }}
                            {% else %}
                                Not assigned !
                            {% endif %}
                            
                        </p>

                        <p class="description">
                            <strong>Department:</strong> <i class="fas fa-building"></i> {{ employee.department|default_if_none:"Not assigned"  }} 
                        </p>

                        <p class="description">
                            <strong>Current Projects:</strong> <i class="fas fa-file-alt"></i>
                            {% if employee.employees_set.all %}
                            {% for project in employee.employees_set.all%}
                                {{project }},
                            {% endfor %}
                            {% else %}
                                Not assigned !
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>


{% endblock maincontent%}

