{% extends 'Main/base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
<title>Department - Modify department</title>
{% endblock title %}

{% block maincontent%}

<div id='dep16' class="content">
    <div class="container-fluid">
        <!-- Select project-->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h4 class="card-title">Modify department</h4>
                    </div>
                <div class="card-body">
                    {% if create_department_form is not None %}
                    <div class="row">
                        <div class="col-md-12 pr-1">
                            <div class="form-group">
                                <label>Selected department:</label>
                                <div class="form-control">
                                    {{select_department_form.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                    <form method= "POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Select department:</label>
                                        {{select_department_form.department|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill pull-right">Select</button>
                        <div class="clearfix"></div>
                    </form>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>

        <!-- Modify project-->
        {% if create_department_form is not None %}
        <div class="row top-buffer">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center text-white bg-dark">
                        <h4 class="card-title">Modify department</h4>
                    </div>
                <div class="card-body">
                    <form method= "POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 pr-1">

                                <div class="form-group">
                                    <label>Project Name</label>
                                    {{create_department_form.name|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Description</label>
                                    {{create_department_form.description|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Name shortcut</label>
                                    {{create_department_form.name_shortcut|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 pr-1">
                                <div class="form-group">
                                    <label>Localization</label>
                                    {{create_department_form.localization|add_class:"form-control"}}
                                </div>
                            </div>
                        </div>

                        <button type="submit" class="btn btn-info btn-fill pull-right">Modify</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
                </div>
            </div>
        </div>
        {% endif %}

        <!--Messages-->
        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger text-center" role="alert">
                    {{message}}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>

{% endblock maincontent%}